/.classpath
/.externalToolBuilders
/.project
/.settings
/.idea
/build
/logs
/target
/contrib/mdc_replication/target/
/contrib/stargate/target/
/contrib/transactional/target/
/core/target/
/core/build/
/core/test/
*.iml
*.orig
*~
